.DS_Store
*.swp
.project
.idea/
.vscode/
npm-debug.log
.jshintrc
.vs/

# The command'npm install --prefix test' adds files in the test folder (https://docs.npmjs.com/configuring-npm/folders.html#executables).
# There are 2 kinds of files, those without extension and those with cmd extension.
# To ignore files without a extension, following procedure is nessecary:
# - ignore all files in the test folder
# - unignore all files in subdirectories of the test folder
# - unignore all files with an extension in the test folder
test/*
!test/*/
!test/*.*
test/*.cmd
test/unit/build


**/node_modules
examples/gal/tex/10806_w_Juliette_A_01Eyes.jpg
examples/gal/tex/10806_w_Juliette_A_02Hair.jpg
examples/gal/tex/10806_w_Juliette_A_03Jeans.jpg
examples/gal/tex/10806_w_Juliette_A_04Shirt.jpg
examples/gal/tex/10806_w_Juliette_A_05Shoes.jpg
examples/gal/tex/10806_w_Juliette_A_06Skin.jpg
examples/gal/tex/10806_w_Juliette_D_2K.jpg
examples/gal/tex/10806_w_Juliette_D_8K.jpg
examples/gal/tex/10806_w_Juliette_N_2k.png
examples/gal/tex/10806_w_Juliette_N_8k.png
